.checkout-page{
    padding:  5px 20px;
    margin-top: 120px;
    
}

.userInfo p{
    margin: 5px 0px ;
}

.userInfo-Delivery-Takeout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.forDelivery{
    font-size: 21px;
}

.total{
    display: flex;
    justify-content: flex-end;
    font-size: 27px;
}

.checkoutButton{
    display: flex;
    justify-content: flex-end;
}

.primaryButton{
    color:white !important;
    background-color:  red !important;
    
}


.backButton{
    color: white;
    background: #6c6cbf;
}